body{
    font-family: "Montserrat";
    margin: 0;
    /* padding: 0; */
    background-color: black;
    color: white;
    overflow: hidden;
}


.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    /* background-color: green; */
    width: 340px;
    border-radius: 1rem;  
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.70rem;
    padding: 0.5rem 0.75rem;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover {
    opacity: 1;
}


.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.80rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 600;
}

.box-p2{
    font-size: 0.75rem;
    opacity: 0.75;
}

.badge{
    background-color: white;
    border: none;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    font-family: 550;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.dark-badge{
    background-color: black;
    color: white;
}


.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}

.sticky-nav-icons{
    margin-left: 1rem;
}

.sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items{
    margin-right: 1.75rem;
}


@media (max-width:1000px) {
    .hide{
        display: none;
    }
}


/* Card */
.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
background-color: #232323;
width: 150px;
border-radius: 0.75rem;
padding: 1rem;
margin-left: 1.5rem;
margin-top: 1rem;
}


.card-img{
    width: 100%;
    border-radius: 0.75rem;
}

.card-title{
    font-weight: 600;

}

.card-info{
    opacity: 0.6;
    font-size: 0.65rem;
}


/* footer */
.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    border-top:1px solid white ;
    width: 90%;
    height: 30%;
    opacity: 0.46;
}


/* Album*/
.album{
    width: 25%;
    /* background-color: aqua; */
    display: flex;
    height: 100%;
    padding: 0.25rem;
    
}

.album>img{
    height: 4rem;
    border-radius: 0.25rem;
    margin: 0.25rem;
}

.album-details{
    padding-top: 1rem;
    padding-left: 0.75rem;
}

.album-title{
    font-weight: 550;
}

.album-author{
    width: 300;
    opacity: 0.45;
    font-size: small;
    padding-top: 0.2rem;
}

.check{
    padding-top: 1.75rem;
    padding-left: 0.50rem;
}



/* Music player */
.player{
    width: 50%;
    /* background-color: green; */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.player-controls{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.player-controls-icons{
    height: 1.25rem;
    margin-left: 1rem;
    opacity: 0.7;
}

.player-controls-icons:hover{
    opacity: 1;
}

.playback-bar{
    width: 100%;
    display: flex;
    justify-content: center;

}

input[type="range"]{
    width: 50%;
    accent-color: white;
}

input[type="range"]:hover{
    accent-color: rgb(47, 233, 47);
}



/* Controls */

.controls{
    width: 25%;
    /* background-color: rgb(0, 195, 255); */
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.controls-icons{
    padding-left: 0.50rem;
    width: 27.33%;
    display: flex;
    justify-content: space-evenly;
}

.controls-slider{
    width: 50%;
}

.controls-slider input {
    width: 70%;
}
.controls-slider i {
    padding-right: 0.2rem;

}

.extra-controls{
    width: 20%;
}

.extra-controls i {
    padding-right: 0.50rem;
}
